.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background: #000000 url(bg.jpg) 100% 100% no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.google-button{
  color: white;
  background: #DC4E41;
  width: 192px;
  height: 38px;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  font-family: Roboto;
  margin-top: 10px;
  cursor: pointer;
}

.my-facebook-button-class{
  color: white;
  background: #4867AA;
  width: 192px;
  height: 38px;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  font-family: Roboto;
  margin-top: 10px;
  cursor: pointer;
}

